.App {

}

.App-header {
  background-color: #282c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  width: 680px;
  margin: 0 auto 40px;
}

.create-game {
  margin: 60px 0px;
}

.create-game input {
  margin-left: 10px;
} 

.create-game select {
  margin-left: 10px;
} 

.create-game button {
  margin: 5px 8px;
}

.game-list {
  margin-bottom: 200px;
}

.game-item {
  padding: 20px 0px;
  border-bottom: 1px dotted grey;
}

.instruction {
  padding: 15px 0px;
}

.game-item span {
  padding-right: 15px;
}

.game-item span select {
  padding-left: 15px;
}

.status-waiting-guest {
  padding: 5px 15px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: #008BBB;
}

.status-waiting-response {
  padding: 5px 15px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: #7B68EE;
}

.status-guest-joined {
  padding: 5px 15px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: #191970;
}

.status-draw {
  padding: 5px 15px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: #228B22;
}

.status-win {
  padding: 5px 15px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: orangered;
}

.status-lose {
  padding: 5px 15px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: #005FFF;
}

.status-end {
  padding: 5px 15px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: #696969;
}


