.App {

}

.App-header {
  background-color: #282c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  width: 680px;
  margin: 0 auto 40px;
}

.create-game {
  margin: 60px 0px;
}

.create-game input {
  margin-left: 10px;
} 

.create-game select {
  margin-left: 10px;
} 

.create-game button {
  margin: 5px 8px;
}

.game-item {
  margin-top: 10px;
}

.game-item span {
  padding-right: 15px;
}

.status {
  padding: 5px 18px;
  border-radius: 5px;
  color: whitesmoke; 
  background-color: blue;
}

